<div class="container">
    <p>&copy; 2023 Planet Guardian. All rights reserved.</p>
</div>
<div class="social-media">

    <div class="social-icons">
        <a href="#" class="icon"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-square-x-twitter"></i></i></a>
        <a href="#" class="icon"><i class="fab fa-instagram-square"></i></a>
        <a href="#" class="icon"><i class="fab fa-youtube-square"></i></a>
        <!-- Add more social media icons as needed -->
    </div>
</div>